header {
    width: 100%;
    display: block;
}

header .conteudo {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header .conteudo .topo {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

header .conteudo .topo .redes-sociais {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header .conteudo .topo .redes-sociais a {
    width: max-content;
    display: block;
    margin: 0px 12px;
}

header .conteudo .topo .redes-sociais a i {
    font-size: 25px;
}

header .conteudo .topo .contatos {
    width: 100%;
    display: inline-flex;
    margin-top: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .conteudo .topo .contatos a {
    margin: 5px 0px;
}

header .conteudo .topo .contatos a i {
    margin-right: 10px;
}

header .conteudo .logo {
    width: 100%;
    display: block;
    margin: 20px 0;
}

header .conteudo .logo a {
    display: block;
    margin: 0 auto;
    width: max-content;
}

header .conteudo .menu {
    width: 100%;
    display: block;
}

header .conteudo .menu nav {
    width: 100%;
    max-width: 1000px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0px 13px;
    position: relative;
}

header .conteudo .menu nav::before {
    width: 75px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -75px;
    content: ' ';
    background: linear-gradient(36deg, rgba(0, 0, 0, 0) 50%, rgba(27, 157, 217, 1) 50%)
}

header .conteudo .menu nav::after {
    width: 75px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -75px;
    content: ' ';
    background: linear-gradient(-36deg, rgba(0, 0, 0, 0) 50%, rgba(27, 157, 217, 1) 50%)
}

header .conteudo .menu nav a {
    padding: 17px 0px;
    font-family: var(--font-family-semibold);
}


@media only screen and (min-width: 758px) {
    header .conteudo .topo .redes-sociais {
        width: max-content;
    }

    header .conteudo .topo .redes-sociais a:first-child {
        margin-left: 0px;
    }

    header .conteudo .topo .redes-sociais a:last-child {
        margin-right: 0px;
    }

    header .conteudo .topo .redes-sociais a i {
        font-size: 16px;
    }

    header .conteudo .topo .contatos {
        flex-direction: row;
        width: max-content;
    }

    header .conteudo .topo .contatos a {
        margin: 0 35px 0 0;
    }

    header .conteudo .topo .contatos a:last-child {
        margin: 0;
    }
}