@import url('fonts/fontawesome/css/all.min.css');
@import url('fonts/montserrat.css');
@import url('reset/reset.css');
@import url('reset/header.css');

/* Blocos */
@import url('blocos/slider-banner.css');